<style>
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.table thead {
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
    color: white;
}

.table th, .table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.btn1 {
    display: inline-block;
    padding: 8px 12px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn1 i {
    margin-right: 5px; 
}

.btn1:hover {
    background-color: #0056b3; 
}


.fa {
    font-size: 16px; 
}


@media (max-width: 768px) {
    .table {
        font-size: 14px;
    }
}

</style>


<div>
    <table class = "table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Username</td>
                <td>Email</td>
                <td>Roles</td>
                <td>Groups</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let user of users" class = "users">
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles }}</td>
                <td><a class = "btn1" [routerLink]="['/userEdit', user.id]"><i class="fa fa-edit">Edit</i></a>
                <!-- <td><button class = "btn1" [routerlink] ="['/userEdit', user.id]"><i class="fa fa-edit">Edit</i></button> -->
                &nbsp; <span class = 'btn1' (click) = "deleteuser(user.id)"><i class="fa fa-trash">Edit</i></span></td>
            </tr>
        </tbody>
    </table>
    
</div>
