<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello</h1>
      <h2>Welcome!</h2>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">

      <ul class="pill-group">
        <li class="pill"> <a class="nav-link" routerLink="/nav">Back</a></li>
        <li class="pill"> <a class="nav-link" routerLink="/login">Login</a></li>
        <li class="pill"> <a class="nav-link" routerLink="/userCreate">Sign-up</a></li>

        </ul>
        

    </div>
  </div>
</main>